/*mobile version*/

@font-face {
    font-family: Kollektif;
    src: url("/fonts/Kollektif.ttf");
}

.page {
    display: flex;
    flex-direction: column;
    font-family: Kollektif, sans-serif;
}

.personalia {
    background-color: #e7e8ec;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 15px 15px 0 0;
    .profile-content__category-title {
        display: none;
        margin: 30px 0 0;
    }
    hr {
        width: 50%;
        margin: 20px 0;
    }
    span, a {
        margin: 5px 0;
    }
    a {
        color: black;
        text-decoration: none;
        &:hover, &:active, &:focus {
            text-decoration: underline
        }
    }
    span {
        &:last-of-type {
            margin-bottom: 20px;
        }
    }
}
.details { margin: 20px 0}

.person-name{
    order: -1;
    color: white;
    text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 15px 0;
    background-color: red;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

.caption {
    margin: 10px;
}

audio {
    margin-bottom: 20px;
}

.profile {
    background-color: #faf8f8;
    width: 100%;
    border-radius: 0 0 15px 15px;
}

.person-logo {
    border: 1px solid white ;
    border-radius: 15px 0;
    width: 25%;
    animation: glow 3s ease alternate;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.7);
}

.profile-content {
    padding: 15px;
    font-size: 18px;
}

.profile-content__category-title {
    color: rgba(187, 13, 13, 0.96);
    text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
}

.skills {
    display: flex;
    justify-content: space-around;
}

.languages, .jobs {
    li {
        margin: 10px 0;
    }
}

.profile-content__element {
    display: flex;
    flex-direction: column;
}

.profile-content__title {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 2px;
    margin-top: 6px;
}

.profile-content__period {
    display: none;
}

.profile-content__institute {
    color: rgba(187, 13, 13, 0.96);
    margin-top: 0;
    font-size: 14px;
}

.gdpr-consent {
    display: flex;
    flex-direction: column;
    width: 80%;
    align-items: center;
    position: fixed;
    bottom: 0;
    transform: translateX(-50%);
    left: 50%;
    right: 0;
    padding: 10px;
    margin: 5px;
    border: 2px solid gray;
    border-radius: 15px 15px 15px 15px;
    background-color: #ffffff;
}

.gdpr-consent__description{
    display: flex;
    justify-content: center;
    text-align: center;
}

.gdpr-consent__choice{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    width: 100%;
}

.gdpr-consent__button--accept {
    background-color: #d5f5d5;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid gray;
}

.gdpr-consent__button--accept:hover, .gdpr-consent__button--reject:hover {
    opacity: 0.75;
}

.gdpr-consent__button--reject {
    padding: 10px;
    border-radius: 10px;
    border: 1px solid gray;
}

.hide{
    display: none;
}

.show{
    display: block;
}

@media only screen and (min-width: 800px) {

    .page {
        flex-direction: row;
    }

    .personalia  {
        border-radius: 15px 0 0 15px;
        .profile-content__category-title {
            display: block;
        }
    }
    .profile {
        display: flex;
        align-items: center;
        border-radius: 0 15px 15px 0;
    }

    .profile-content__category--hidden-mobile{
        display: flex;
        flex-direction: column;
    }

    /*fix: anders als stipje zichtbaar*/
    .profile-content__category--hidden-mobile hr{
        width: 100%;
    }

    .profile-content__element--hidden-mobile {
        display: flex;
    }

    .profile-content__element-header{
        display: flex;
        justify-content: space-between;
    }

    .profile-content__period {
        font-size: 12px;
        color: #5c6166;
        display: flex;
    }
    .gdpr-consent {
        width: 50%;
    }
}


/*student uitwerking*/

