/*mobile version*/

@font-face {
    font-family: Kollektif;
    src: url("/fonts/Kollektif.ttf");
}

.page {
    display: flex;
    flex-direction: column;
    font-family: Kollektif, sans-serif;
}

.personalia {
    background-color: #e7e8ec;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.person-name{
    order: -1;
    color: white;
    text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 15px 0;
    background-color: red;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

.caption {
    margin: 10px;
}

audio {
    margin-bottom: 20px;
}

.profile {
    background-color: #faf8f8;
    width: 100%;
}

.person-logo {
    border-radius: 15px 0;
    width: 25%;
    animation: glow 3s ease alternate;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.7);
}

.profile-content {
    padding: 15px;
    font-size: 18px;
}

.profile-content__category-title {
    color: rgba(187, 13, 13, 0.96);
    text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
}

.profile-content__element {
    display: flex;
    flex-direction: column;
}


.profile-content__title {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 2px;
    margin-top: 6px;
}

.profile-content__period {
    display: none;
}

.profile-content__institute {
    color: rgba(187, 13, 13, 0.96);
    margin-top: 0;
    font-size: 14px;
}

@media only screen and (min-width: 800px) {

    .page {
        flex-direction: row;
    }

    .profile {
        display: flex;
        align-items: center;
    }

    .profile-content__category--hidden-mobile{
        display: flex;
        flex-direction: column;
    }

    /*fix: anders als stipje zichtbaar*/
    .profile-content__category--hidden-mobile hr{
        width: 100%;
    }

    .profile-content__element--hidden-mobile {
        display: flex;
    }

    .profile-content__element-header{
        display: flex;
        justify-content: space-between;
    }

    .profile-content__period {
        font-size: 12px;
        color: #5c6166;
        display: flex;
    }

}


/*student uitwerking*/

